h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    margin-right: 10px;
  }
  
  button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(1, 97, 1);
  }
  
  .image-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .image-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .image-card button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .image-card button:hover {
    background-color: green;
  }
/* ... */
.enlarged-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.enlarged-image-container img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
}

/* ... */

  
